@import '../generic-styles';

$CircleButtonDiametr: 80px;

.App {
  @include  mobile-app-generic;
}

.container {
  @include mobile-container-generic;
}

.close-button {
  display: none;
}

@media (min-width: $breakpoint-phone) {
  body > #root > div {
    height: 100vh;
  }

  .App {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 30px;
    white-space: nowrap;
    max-height: 250px;
  }

  h3 {
    align-self: center;
  }

  h4 {
    text-align: center;
  }

  .close-button {
    display: flex;
    position: absolute;
    margin-left: calc(#{$MaxWidthSmallScreen});

    justify-content: center;
    align-items: center;
    min-width: $CircleButtonDiametr;
    min-height: $CircleButtonDiametr;

    border-radius: 50%;
    border-width: 1px;
    border-color: #999999;
    background-color: transparent;
  }
  .primary-button {
    margin-top: 0;
    justify-self: flex-start;
    max-width: 325px;
  }
}
