@import "../variables";

$VerticalPadding: 16px;
$HorizontalPadding: 10px;
$GenericFontSize: 14px;
$GenericFontHeight: 16px;

.new-task-item {
    display: none;
}

@media (min-width: $breakpoint-phone) {
    .new-task-item {
        margin-bottom: 0;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: stretch;
        background-color: #f6f6f6;

        height: 100%;
        min-height: 140px;
        border-radius: 9px;

        p {
            margin-top: 26px;
            margin-bottom: 0;
            font-weight: 900;
            line-height: 21px;
            font-size: 18px;
            color: $FontColor;
            word-break: break-all;
        }

        a {
            margin-bottom: 0;
            display: flex;
            flex: 1;
            flex-direction: column;
            background-color: transparent;

            border-radius: 9px;
            align-content: center;
            text-align: center;
            justify-content: center;
        }

        a:hover {
            background-color: $ButtonsColor;
        }
    }
}
