@import "../variables";

.task-counter {
    background-color: $ButtonsColor;
    border-radius: 13px 0 0 13px;
    padding: 14px 25px;
    text-align: center;
    align-self: flex-end;
    width: auto;
    margin-right: -$MobileHorizontalPadding;
    margin-bottom: 10px;
    right: 0;

    p {
        margin: 0;
        color: $SecondaryButtonsFontColor;
        font-size: 18px;
        line-height: 21px;
        min-width: 5px;
    }
}

.helper-text{
    display: none;
}

@media (min-width: $breakpoint-phone) {
    .task-counter {
        display: flex;
        position: absolute;
        margin-right: 0;
    }

    .helper-text{
        display: block;
    }
}
