@import "../generic-styles";

.App {
  @include mobile-app-generic;
}

.container {
  @include mobile-container-generic;

  h3{
    margin-bottom: 106px;
  }
}

.media {
  display: none;
}

@media (min-width: $breakpoint-phone) {
  body > #root > div {
    height: 100vh;
  }

  .App {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 100px;
    grid-template-areas: "container media";
    align-items: center;
  }
  .container {
    margin: 30px;
    justify-self: center;
    display: table-cell;
    white-space: nowrap;
  }

  .media {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
