$FontWeightBase: 700;
$FontColor: #323232;
$SecondaryButtonsFontColor: #3C3C3C;
$InputFontColor: #999999;
$InputFieldPadding: 20px;
$InputFieldRadius: 10px;
$ButtonsColor: #ffe3d3;
$MaxWidthSmallScreen: 375px;
$breakpoint-phone: 620px;
$MobileHorizontalPadding: 34px;