$FontColor: #323232;
$InputFontColor: #999999;
$InputFieldPadding: 20px;
$InputFieldRadius: 10px;
$ButtonsColor: #ffe3d3;
$breakpoint-phone: 600px;

h3 {
    font-size: 48px;
    line-height: 56px;
    color: $FontColor;
    margin: 0 0 105px 0;
}

h4 {
    font-size: 21px;
    line-height: 24px;
    color: $FontColor;
    margin: 0px 0px;
}

.primary-button {
    justify-self: flex-end;
    width: 100%;
    min-height: 55px;
    background-color: $ButtonsColor;
    color: $FontColor;
    border-radius: 10px;
    border-width: 0;
    height: 54px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    font-family: "Roboto";
    margin-top: auto;
    margin-bottom: 34px;

    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}

.input-field {
    width: calc(100% - #{$InputFieldPadding * 2});
    height: 60px;
    border-radius: $InputFieldRadius;
    border-width: 0;
    margin: 30px auto;
    padding: 0 $InputFieldPadding;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}

.wide-input-field {
    width: 100%;
    resize: none;
    min-height: 120px;
    border-radius: $InputFieldRadius;
    border-width: 0;
    margin: 30px 0;
    padding: $InputFieldPadding $InputFieldPadding 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;
    display: block;
}


input::placeholder,
textarea::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: $InputFontColor;
    margin-left: 40px;
}
