@import './_variables';

@mixin mobile-app-generic{
    padding: 65px $MobileHorizontalPadding;
    height: calc(100vh - 60px);
    min-height: 100%;

    display: flex;
    flex: 1;

    font-weight: $FontWeightBase;
}

@mixin mobile-container-generic{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 815px;
}

h3 {
    font-size: 48px;
    line-height: 56px;
    color: $FontColor;
    margin: 0 0 105px 0;
}

h4 {
    font-size: 21px;
    line-height: 24px;
    color: $FontColor;
    margin: 0px 0px;
    word-break: break-all;
}

.primary-button {
    justify-self: flex-end;
    width: 100%;
    min-height: 55px;
    background-color: $ButtonsColor;
    color: $FontColor;
    border-radius: 10px;
    border-width: 0;
    height: 54px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    font-family: "Roboto";
    margin-top: auto;
    margin-bottom: 34px;

    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}

@mixin input-placeholder{
    font-size: 14px;
    line-height: 16px;
    color: $InputFontColor;
    margin-left: 40px;
}

input::placeholder,
textarea::placeholder {
    @include input-placeholder;
}
